[SERVICE]
    Flush        5
    Log_Level    info
    HTTP_Server  Off

[INPUT]
    Name              systemd
    Tag               homeassistant
    Path              {{ journal_path }}
    DB                /data/journal.db
    Read_From_Tail    On

[FILTER]
    Name            modify
    Match           homeassistant
    Set             job homeassistant

[FILTER]
    Name            rewrite_tag
    Match           homeassistant
    Rule            $SYSLOG_IDENTIFIER ^kernel$ homeassistant.kernel false
    Emitter_Name    kernel_emitter

[FILTER]
    Name            lua
    Match           homeassistant.kernel
    script          /etc/fluent-bit/scripts/level.lua
    call            set_level


[OUTPUT]
    Name   loki
    Match  *
    Host         {{ loki_host }}
    Port         {{ loki_port }}
    Tls          {{ loki_tls }}
    Uri          {{ loki_uri }}
{% if loki_tenant_id %}
    Tenant_ID    {{ loki_tenant_id }}
{% endif %}
{% if loki_user %}
    http_user    {{ loki_user }}
    http_passwd  {{ loki_password }}
{% endif %}
    Labels          host=homeassistant, job=$job, level=$level, syslog_identifier=$SYSLOG_IDENTIFIER, container_name=$CONTAINER_NAME
    Line_Format  json
    Auto_Kubernetes_Labels Off
